@import url(https://fonts.googleapis.com/css?family=Anton);



body {
 font-family: Helvetica, Arial, sans-serif;
/*padding-top: 10vh;*/

}

* {
    box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #001540;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the color of links on hover */
/*.topnav a:hover {
  background-color: #001540;
  color: white;
}*/

/* Add a color to the active/current link */
.topnav a.active {
  
  color: white;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


.unbreakable-container
{
    /*position: absolute;*/
    padding-top: 30vh;
    bottom: 10px;
    width: 100%;
    height: 600px;
    margin: auto;
    background-image: url("tropical-violet.jpg");
}

.main-container {
    
    padding-left: 510px;
    margin: auto;
}


.unbreakable
{
    font-family: 'Anton', sans-serif;
    line-height: 1;

    letter-spacing: -.09em;

    color: pink-white;
    font-size: 50px;
}

.sub-container {
    background-image: url("germany.jpg");
    /*bottom: 10px;*/
    width: 100%;
    height: 750px;
    padding-top: 5vh;
}

.container {
    padding-top: 20vh;
    width: 550px;
  height: 550px;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  /*box-shadow: 0 0 10px 0 #000;*/
 margin-left: 60px;
}



p {
    color: white;
    line-height: 1.5em;
    font-size: 26px;
}


.lead-container {
    background-image: url("ocean.jpeg");
    padding-top: 10vh;
    width: 100%;
    height: 650px;
}


.form__field  {

  width: 550px;
  height: 500px;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  /*box-shadow: 0 0 10px 0 #000;*/
  float: right;
  margin-right: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}
/*h2 style*/
h2 {
font-size: 35px; 
font-weight: bold;  
/*padding-left: 57px;*/
 margin-left: 155px;
}

/*input style*/
input {
  width: 60%;
  margin: 4px 0;
  padding: 8px;
  border: 1px solid #3f3f3f;
  margin-right: 85px;
  font-size: inherit;
  outline: none;
  float: right;
  background-color: grey;
  color: black;
  cursor: default;
  border-bottom-color: purple;

}

/* button style*/
button {
    width: 60%;
  margin: 4px 0;
  padding: 8px;
  border: 1px solid #3f3f3f;
  margin-left: 110px;
  font-size: 20px;
  outline: none;
  border-radius: 40px;
  color: white;
  background-color: purple;
  cursor: pointer;


}
/* i style*/
i {
   margin-left: 110px;
   font-size: 16px;
   
   
}
/*textarea message style*/
textarea {
     width: 60%;
     height: 70px;
    margin-right: 85px;
  font-size: inherit;
  outline: none;
  float: right;
  background-color: grey;
  color: black;
  cursor: default;
  border: 1px solid;
  border-bottom-color: purple;
}

button:hover {
  opacity: 0.5;
  background-color: transparent;
}
/*animation style*/
.ks
{
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    line-height: 1;

    margin-top: -11px;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 3s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;

    color: purple;
}

.animate .ks
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

span
{
    font-family: 'Anton', Helvetica, sans-serif;
    font-size: 50px;

    text-transform: uppercase;

    opacity: 0;
    color: #001540;
    letter-spacing: 0.7em;

    filter: alpha(opacity=0);

}

.able
{
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    letter-spacing: -.07em;
}

.break
{
    -webkit-transition: all .3s ease-in-out 2s;
            transition: all .3s ease-in-out 2s;
    letter-spacing: -.07em;
}

.un
{
    -webkit-transition: all .3s ease-in-out 1.7s;
            transition: all .3s ease-in-out 1.7s;
    letter-spacing: -.07em;
}

.animate .un
{
    font-size: 40px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .break
{
    font-size: 60px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .able
{
    font-size: 80px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

hr {
    width: 75%;
    font-weight: bold;
}
/*footer style*/
.footer {
     padding-top: 10vh;
    color: white;
    background-color: black;
    height: 100%;
}

.fafa-twitter {
color: white;
}

.footer-nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px; 
  display: inline-block; 
}

.footer h3 {
    font-size: 24px; 
    color: white;
    text-align: center;
}

.footer-footer {
     text-align: center;
      font-size: 18px;
      font-weight: normal;
}

.socialMedia a {
    color: white;
    text-align: center;
    display: inline-block;
    padding-right: 50px;
    margin-right: 20px;
    background-color: black;
    font-size: 35px;

}
/* topnav animated menu
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}*/

/* Clear floats after the columns */


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .unbreakabke-container .main-container .unbreakable, .un, .break, .able, .container, .socialMedia, .topnav, .footer, .sub-container, span {
    width: 100%;
    margin-top: 0;
    font-size: 25px;
}
}

@media screen and (max-width: 600px) {
   .container {
    width: 90%;
   margin-left: 20px;
   /*padding-bottom: 25vh;*/
}   
}
@media screen and (max-width: 600px) {
   .socialMedia a i {
    font-size: 15px;
}
}
@media screen and (max-width: 600px) {
.form__field {
     width: 90%;
    margin-right: 20px;
}
}
@media screen and (max-width: 600px) {
    .container p {

        font-size: 22px;
    }
}
@media screen and (max-width: 600px) {
.form__field button {
    margin-left: 60px;
}
.form__field h2 {
margin-left: 60px;
}
.form__field i {
    margin-left: 60px;
}
.form__field input {
    margin-left: 60px;
}
}
/*@media screen and (max-width: 600px) {
.form__field i, input, textarea {
    display: inline-block;
    text-align: center;
}
}*/
@media screen and (max-width: 600px) {
     .active h1 {
    font-size: 14px;
    /*margin-left: 10px;*/
}
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon, h1 {
    /*float: right;*/
    font-size: 14px;
    display: inline-block;
  }
  .topnav a.icon {
    color: white;

  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 500px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 30px;
    top: 40px;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
    .main-container {
        padding-left: 170px;
    }
    }
    @media screen and (max-width: 500px) {
    .animate .un {
        font-size: 18px;
    }
    .animate .break {
        font-size: 23px;
    }
    .animate .able {
        font-size: 27px;
    }
    .ks {
        font-size: 19px;
        margin-top: 5px;

    }
}
@media screen and (max-width: 500px) {
    .container p {
        height: 100%;
        font-size: 16px;
    }
    .lead-container i, h2, button {
        text-align: center;
        font-size: 16px;
}
.footer {
    padding-top: 5vh;
}
.footer-footer {
    font-size: 16px;
}
}

 @media screen and (max-width: 800px) {
    span .un {
        font-size: 18px;
    }
    span .break {
        font-size: 23px;
    }
    span .able {
        font-size: 27px;
    }
    span {
        font-size: 19px;
    }
    .unbreakable {
        margin: auto;
        display: inline-block;
        text-align: center;
    }
    .main-container {
        padding-left: 110px;
        padding-top: 10vh;
    }
}
