.card {
  max-height: 270px !important;
}

section {
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-size: 14px;
line-height: 1.5;
font-family: Workwise;
color: #001540;
box-sizing: border-box;
display: block;
}
section{
  width: 100% !important;
}

img {
  margin-left: 25% !important;
}

h4{
  text-align: center;
  margin-top: 10px !important;
}
/*.img {
  max-height: 200px !important;
  height: 20% !important;
}*/