@import url(https://fonts.googleapis.com/css?family=Anton);

body {
 font-family: Helvetica, Arial, sans-serif;
/*padding-top: 10vh;*/

}

* {
    box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #001540;
}

/* Style the links inside the navigation bar */
.topnav a {
  margin-top: 15px;
  float: left;
  display: inline-block;
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: none;
  
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


.unbreakable-container
{
    /*position: absolute;*/
    padding-top: 30vh;
    bottom: 10px;
    width: 100%;
    height: 600px;
    margin: auto;
    background-image: url("tropical-violet.jpg");
}

.main-container {
    padding-left: 510px;
    margin: auto;
}


.unbreakable
{
    font-family: 'Anton', sans-serif;
    line-height: 1;

    letter-spacing: -.09em;

    color: pink-white;
    font-size: 50px;
}

.sub-container {
    background-image: url("germany.jpg");
    /*bottom: 10px;*/
    width: 100%;
    height: 750px;
    padding-top: 5vh;
}

.container {
    padding-top: 20vh;
    width: 550px;
  height: 550px;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  /*box-shadow: 0 0 10px 0 #000;*/
 margin-left: 60px;
}



p {
    color: white;
    line-height: 1.5em;
    font-size: 26px;
}


 .lead-container {
  background-image: url("ocean.jpeg");
  padding-top: 10vh;
  width: 100%;
  height: 650px;
}


  .form__field  {
  width: 530px;
  height: 500px;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  /*box-shadow: 0 0 10px 0 #000;*/
  float: right;
  margin-right: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
}
  /*h2 style*/
  .form__field h2 {
  font-size: 35px; 
  font-weight: bold;  
  /*padding-left: 57px;*/
  margin-left: 155px;
  color: white;
}

 /*input style*/
 .form__field input {
  width: 80%;
  margin: 4px 0;
  padding: 8px;
  border: 1px solid #3f3f3f;
  margin-left: 40px;
  background-color: grey;
  color: white;
  cursor: default;
  border-bottom-color: purple;

}

/* button style*/
.form__field button {
  width: 80%;
  margin: 4px 0;
  padding: 8px;
  border: 1px solid #3f3f3f;
  margin-left: 40px;
  font-size: 20px;
  outline: none;
  border-radius: 40px;
  color: white;
  background-color: purple;
  cursor: pointer;


}
/* i style*/
.form__field i {
  margin-left: 40px;
  font-size: 16px;
  color: white;
}
/*textarea message style*/
.form__field textarea {
  width: 80%;
  height: 70px;
  margin-left: 40px;
  background-color: grey;
  color: black;
  cursor: default;
  border: 1px solid;
  border-bottom-color: purple;
}

/*@media screen and (min-width: 250px) and (max-width: 610px) {
  .form__field i {
margin-left: 100px;
  }
  .form__field button {
margin-left: 100px;
  }
}*/

.form__field button:hover {
  opacity: 0.5;
  background-color: transparent;
}
/*animation style*/
.ks
{
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    line-height: 1;

    margin-top: -11px;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 3s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;

    color: purple;
}

.animate .ks
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

span
{
    font-family: 'Anton', Helvetica, sans-serif;
    font-size: 50px;

    text-transform: uppercase;

    opacity: 0;
    color: #001540;
    letter-spacing: 0.7em;

    filter: alpha(opacity=0);

}

.able
{
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    letter-spacing: -.07em;
}

.break
{
    -webkit-transition: all .3s ease-in-out 2s;
            transition: all .3s ease-in-out 2s;
    letter-spacing: -.07em;
}

.un
{
    -webkit-transition: all .3s ease-in-out 1.7s;
            transition: all .3s ease-in-out 1.7s;
    letter-spacing: -.07em;
}

.animate .un
{
    font-size: 40px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .break
{
    font-size: 60px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .able
{
    font-size: 80px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

hr {
    width: 75%;
    font-weight: bold;
}
/*footer style*/
.footer {
     padding-top: 10vh;
    color: white;
    background-color: black;
    height: 100%;
}

.fafa-twitter {
color: white;
}

.footer-nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px; 
  display: inline-block; 
}

.footer h3 {
    font-size: 24px; 
    color: white;
    text-align: center;
}

.footer-footer {
     text-align: center;
      font-size: 18px;
      font-weight: normal;
}

.socialMedia a {
    color: white;
    text-align: center;
    display: inline-block;
    padding-right: 50px;
    margin-right: 20px;
    background-color: black;
    font-size: 35px;

}
/* topnav animated menu
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}*/

/* Clear floats after the columns */


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
  .container, .footer, .sub-container, span {
    width: 100%;
    margin-top: 0;
}
}*/

@media screen and (min-width: 250px) and (max-width: 600px) {
  .container {
    width: 90%;
    margin-left: 20px;
    /*padding-bottom: 25vh;*/
}   
   .form__field {
    width: 90%;
    margin-right: 20px;
  }
}

@media screen and (min-width: 250px) and (max-width: 510px) {
    .container p {
   font-size: 14px;
    }
    .form__field h2 {
   font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
  .container p{
    font-size: 22px
  }
}
/*@media screen and (max-width: 600px) {
.form__field i, input, textarea {
    display: inline-block;
    text-align: center;
}
}*/

/*@media screen and (min-width: 250px) and (max-width: 510px) {
.active h1 {
font-size: 16px;
}
.topnav a{
  font-size: 12px;
}
 .topnav a.icon {
 font-size: 10px;
 }
}*/
/*@media screen and (max-width: 600px) {
     .active h1 {
    font-size: 14px;
}
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon, h1 {
    font-size: 14px;
    display: inline-block;
  }
  .topnav a.icon {
    color: white;

  }
}*/
/*@media screen and (max-width: 500px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 30px;
    top: 40px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}*/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 250px) and (max-width: 610px) {
.main-container {
padding-left: 80px;
  }
}
@media screen and (min-width: 250px) and (max-width: 510px) {
    .animate .un {
        font-size: 20px;
    }
    .animate .break {
        font-size: 25px;
    }
    .animate .able {
        font-size: 30px;
    }
    .ks {
        font-size: 24px;
        margin-top: 2px;
}
}
/*@media screen and (min-width: 250px) and (max-width: 610px) {
.form__field {
margin-left: 20px;
width: 90%;
float: none;
  }
}
@media screen and (min-width: 250px) and (max-width: 510px) {
.form__field button {
margin-left: 20%;
  }
}
@media screen and (min-width: 250px) and (max-width: 510px) {
.form__field h2 {
margin-left: 25%;
font-size: 20px;
  }
}
@media screen and (min-width: 250px) and (max-width: 510px) {
.form__field i {
  margin-left: 15px;
 line-height: normal;
outline: none; 
}
}
@media screen and (min-width: 510px) and (max-width: 610px) {
.form__field i {
margin-left: 85px;
  }
  .form__field button {
    margin-left: 80px;
  }
  .form__field h2 {
    margin-left: 25%;
  }
}
@media screen and (min-width: 250px) and (max-width: 510px) {
.form__field input {
width: 180px;
 margin: 0;
 padding-top: 1vh;
 padding: 6px;
 margin-left: 10px;
 float: none;
 }
 .form__field textarea {
  width: 180px;
 margin: 0;
 padding: 6px;
 margin-left: 10px;
 float: none;
 }
}*/
@media screen and (min-width: 250px) and (max-width: 610px) {
.footer h3 {
   font-size: 16px;
    }
.footer-nav a {
font-size: 14px;
    }
.socialMedia {
  margin-left: 40px;
}
.socialMedia a i {
  font-size: 14px;
}
.footer {
    padding-top: 5vh;
}
.footer-footer {
    font-size: 14px;
 margin-bottom: 10px;
}
}
/*@media screen and (min-width: 250px) and (max-width: 510px) {
 .container {
 height: 80%;
 }
 .sub-container h1 {
 font-size: 16px;
}
 .container img {
 width: 20%;
  border-radius: 40%;
  size: 30%;
 }
 .container p {
 font-size: 16px;
 }
}*/
 @media screen and (min-width: 710px) and (max-width: 850px) {
 .main-container {
padding-left: 80px;
  }
}
 @media screen and (min-width: 850px) and (max-width: 1090px) {
 .main-container {
padding-left: 320px;
  padding-bottom: 60%;
  top: 20vh;
  }
}
