@import url(https://fonts.googleapis.com/css?family=Anton);


/*footer style*/
hr {
    width: 75%;
    font-weight: bold;
}

.footer {
    padding-top: 5vh;
    bottom: 0;
    color: white;
    background-color: black;
    height: auto;
}

.fafa-twitter {
color: white;
}

.footer-nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px; 
  display: inline-block; 
}

.footer h3 {
    font-size: 24px; 
    color: white;
    text-align: center;
}

.footer-footer {
     text-align: center;
      font-size: 18px;
      font-weight: normal;
}

.socialMedia a {
    color: white;
    text-align: center;
    display: inline-block;
    padding-right: 50px;
    margin-right: 20px;
    background-color: black;
    font-size: 35px;

}

@media screen and (min-width: 250px) and (max-width: 610px) {
.footer h3 {
   font-size: 16px;
    }
.footer-nav a {
font-size: 14px;
    }
.socialMedia {
  margin-left: 40px;
}
.socialMedia a i {
  font-size: 14px;
}
.footer {
    padding-top: 5vh;
}
.footer-footer {
    font-size: 14px;
 margin-bottom: 10px;
}
}